@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

h1 {
    font-family: 'Special Elite', cursive;
    text-align: center;
    font-size: 85px;
    color: rgb(56, 153, 209);
    text-shadow: 0 0 5px red;
}

.line {
    border-top: 3px solid whitesmoke;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
    margin-top: -40px;
}
.video {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.507);
    height: 450px;
    margin-top: -30px;
    padding-top: 30px;
}

.button1,
.button2 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -70px;
}

.button1 .youtube,
.button2 .instargam  {
    display: inline;
    border: 2px solid rgb(124, 0, 0);
    background-color: rgb(124, 0, 0);
    width: 240px;
    height: 30px;
    text-decoration: none;
    font-family: 'Abril Fatface', cursive;
    color: rgb(172, 171, 171);
    font-size: 20px;
    padding: 5px 15px;
}

.button1 .youtube:hover,
.button2 .instargam:hover {
    border: 2px solid rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
    color: white;
    box-shadow: 0 0 10px 3px white;
}

.foto {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:  rgba(0, 0, 0, 0.507);
    text-align: center;
    margin-top: -30px;
    height: 900px;
}

.foto img {
    box-shadow: 0 0 10px 5px white;
}

.copyright {
    padding-top: 300px;
}