body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;
    background: black url("../images/psihogenerator_logo_1.png") no-repeat 50% 140px;
    background-size: 700px auto;
    background-attachment: fixed;
}

.bord {
    margin: auto;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-radius: 10px;
    background-color: rgb(80, 80, 80);
    padding: 10px;
    width: 700px;
    height: 700px;
    opacity: o.5;
}

.block {
    font-size: 13px;
    float: left;
    padding-left: 15px;
    padding-right: 18px;
}